{% extends "base.html" %}

{% block title %}Szablony stanowisk{% endblock %}

{% block content %}
    <h1>Szablony stanowisk</h1>
    <ul>
        {% for template in templates %}
            <li>
                <strong>{{ template.name }}</strong>
                - {{ template.job_position }}
                <a href="{% url 'referral_create' %}?template={{ template.pk }}">Użyj szablonu</a>
            </li>
        {% empty %}
            <li>Brak szablonów.</li>
        {% endfor %}
    </ul>
{% endblock %}
